/*==========================================================================
 *
 *                      End of Ages
 *                      Main stylesheet
 *
 *==========================================================================*/
/*==========================================================================
 *
 *  Base / Built In Element Overrides
 *
 *==========================================================================*/
body, html {
    background:#cdcdcd;
    font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif !important;
	margin:0;
	padding:0;
}

a {
    color:#336699;
    font-weight:bold;
    text-decoration:none;
}
a:hover {
    color:#343434;
}
/*==========================================================================
 *
 *  Site Layout Divs
 *
 *==========================================================================*/
#site_wrapper {
    bottom:0;
    left:0;
    position:relative;
    right:0;
    top:0;
}
    #site {
        bottom:0;
        left:0;
        background:#ffffff;
        margin:0 auto;
        right:0;
        top:0;
    }
/*---------------------------------
 *
 * Header
 *
 * --------------------------------*/
#header_wrapper{
    border-bottom:2px solid #343434;
    height:75px;
    position:relative;
}
    #header {
        padding:0 10px;
        position:relative;
    }
    /*---------------------------------
     * Logo
     * --------------------------------*/
    #logo {
        font-size:1.2em;
        font-weight:bold;
        text-shadow:1px 1px #dedede;
    }
    /*---------------------------------
     * Login Area
     * --------------------------------*/
    #login_wrapper {
        border:1px solid #343434;
        font-size:.9em;
        height:70px;
        position:absolute;
        right:10px;
        top:0;
        width:375px;
        z-index:10;
    }
        #login {
            padding:2px;
        }
            #login_password_wrapper, #login_username_wrapper {
                float:left;
                margin:0 10px 0 0;
                position:relative;
            }
                #login_password_placeholder {
                    color:#ababab;
                    font-size:.9em;
                    left:0;
                    position:absolute;
                    top:0;
                }
                #login_username, #login_password, #login_password_placeholder{
                    height:20px;
                    width:150px;
                }
            #login_action_wrapper {
                clear:both;
                position:relative;
            }
    /*---------------------------------
     * Links
     * --------------------------------*/
    #site_links_wrapper {
        border-bottom:2px solid #343434;
        height:50px;
    }
     
/*---------------------------------
 *
 * Content
 *
 * --------------------------------*/    


/*---------------------------------
 *
 * Footer
 *
 * --------------------------------*/    
/*==========================================================================
 *
 *  Site Layout Classes
 *
 *==========================================================================*/
.clear {
    clear:both;
}
.tool_tip_class {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:#343434;
    padding:2px;
    z-index:999999;
}
.tip-title {
    border-bottom:1px solid #343434;
    color:#6699cc;
    display:block;
    font-size:1.1em;
    font-weight:bold;
    margin:0 0 2px 0;
    padding:0 0 2px 0;
}
.tool_tip_custom {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(20,20,20,.8);
    _background:#343434;
    color:#efefef;
    font-size:.8em;
    height:55px;
    padding:4px;
    width:210px;
    z-index:999999;
}
