/*==========================================================================
 *
 *                      End of Ages
 *                      Main stylesheet
 *
 *==========================================================================*/
/*==========================================================================
 *
 *  Base / Built In Element Overrides
 *
 *==========================================================================*/
body, html {
	margin:0;
	padding:0;
}

/*==========================================================================
 *
 *  Site Layout Divs
 *
 *==========================================================================*/
#site_wrapper {
    position:relative;
}
    /*---------------------------------
     * Game World Area
     * --------------------------------*/
    #world_container {
        border:2px solid #000000;
        height:250px;
        overflow:hidden;
        position:relative;
        width:250px;
    }
    #zone_container {
        background:url(/eoa/static/images/zones/hneoa.png);
        height:800px;
        left:0;
        position:absolute;
        top:0;
        width:640px;
    }
    #camera_container {
        height:250px;
        overflow:hidden;
        position:relative;
        width:250px;
    }
        #character {
            background:#000000;
            border:1px solid #ffffff;
            height:20px;
            left:0px;
            position:absolute;
            top:0px;
            width:20px;
        }
    
    /*---------------------------------
     * Other Site Elements
     * --------------------------------*/
    #login_wrapper {
        margin:20px 0 0 0;
    }
     
    /*---------------------------------
     * Chat Area
     * --------------------------------*/
    #chat_container {
        border:1px solid #232323;
        font-size:.9em;
        height:350px;
        position:absolute;
        right:10px;
        top:10px;
        width:350px;
    }
        #chat_incoming {
            height:325px;
            left:0px;
            position:relative;
            overflow:scroll;
            top:0px;
        }
        #chat_outgoing {
            border-top:1px solid #343434;
            bottom:0px;
            height:25px;
            position:absolute;
            width:100%;
        }
        #chat_text {
            width:250px;
        }

        /*Chat box (received messages)*/
        .chat_author {
            font-weight:bold;
        }
/*==========================================================================
 *
 *  Character styles
 *
 *==========================================================================*/
.character_base {
    background:#000000;
    border:1px solid #ffffff;
    height:16px;
    left:0px;
    position:absolute;
    top:0px;
    width:16px;

}
