<html>
<head>
    <title>{% block head_title %}End of Ages{% endblock head_title %}</title>

    <!-- ========= JavaScript ============================================= -->
    <!-- External JS Libraries -->
	<script src='/eoa/static/js/libraries/mootools.js' type='text/javascript'></script>
	<script src='/eoa/static/js/libraries/mootools_more.js' type='text/javascript'></script>

    <!-- EoA Javascript ------------------------------------------------------>
    <!-- Config -->
    <script src='{% url js_config %}' type='text/javascript'></script>

    <!-- Extra JS ------------------------------------------- -->
    {% block extra_head_js %}{% endblock extra_head_js %}

    <!-- ========= CSS ==================================================== -->
    <!-- EoA CSS -->
	<link href='/eoa/static/css/style.css' rel='stylesheet' type='text/css' />

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block site_container %}
{% endblock site_container %}

{% block footer_container %}
<div id='footer_wrapper'>
    End of Ages
    {{ user }}
</div>
{% endblock footer_container %}
</body>
</html>
